* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.overall {
    background-color: lightcyan;
}

.container {
   
  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    box-shadow: 5px, 5px, 5px, 5px;
    
    
}
h2 {
    color: red;
    size: 30px;
}

.item {
    padding: 15px;
    margin: 15px;
    background-color: blue
}


#item2 {
    background-image: url("pexels-photo-164686.jpeg")
}

#item4 {
    background-image: url("pexels-photo-388304.jpeg")
}


.submit {
    margin: 10px;
    text-align: center;
    font-size: 20px;
}